.dropdown-menu a:hover{
    background-color:greenyellow ;
}
.h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-shadow: 4px 4px 4px #aaa;
}
.hover:hover{
    background-color: #bb45e5;
}
