.dropdown-menu a:hover{
    background-color:cadetblue ;
}
.h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-shadow: 4px 4px 4px #aaa;
}
.hover:hover{
    background-color: #e5df38;
}
.sameSize{
    height: 100px;
    width: auto;
}